#all {
    font-family: "K2D";
}

#logo {
    float: right;
}

a {
    color: black;
}

@media only screen and (min-width: 1000px) {
    #resume {
        position: absolute;
        padding-top: 100px;
        left: 10%;
    }

    #link {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    #resume {
        display: none;
    }

    #link {
        padding-top: 100px;
        margin: 40px;
        word-break: break-all;
        text-align: center;
    }
}